*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f3e7ee;
    font-family:Arial, Helvetica, sans-serif;
    color:#5a4a4a;
}

.container{
    max-width:900px;
    margin:auto;
    padding:40px 20px;
}

.hero{
    text-align:center;
}

.logo{
    width:350px; /* aumente para 400px se quiser maior */
    max-width:90%;
    height:auto;
    display:block;
    margin:0 auto 25px;
}

h1{
    color:#d95b9b;
    font-size:3rem;
    margin-bottom:20px;
}

p{
    font-size:1.4rem;
    margin-bottom:35px;
}

.btn{
    display:block;
    width:100%;
    background:#d95b9b;
    color:#fff;
    text-decoration:none;
    padding:22px;
    margin:15px 0;
    border-radius:18px;
    font-size:1.3rem;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-2px);
    opacity:0.9;
}
